main {
  .section_main {
    background-color: #4caf50;
    padding: 120px 0;
    text-align: center;

    .heading {
      .a_heading {
        color: #fff;
        font-size: 80px;

        @media only screen and (min-width: 300px) and (max-width: 479px) {
          font-size: 54px;
        }
      }
    }
    .subheading {
      .a_subheading {
        margin: 20px 0 50px 0;
        color: white;
        font-size: 18px;
      }
    }
    .main_btn_container {
      .btn_main,
      .btn_main:link,
      .btn_main:visited {
        padding: 10px;
        color: #333;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        min-width: 100px;
        max-width: 60%;
        position: relative;
        margin: 0 auto;
        border: 2px solid transparent;
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        cursor: pointer;

        &:after,
        &:before {
          content: "";
          content: "";
          position: absolute;
          left: -1em;
          top: -2px;
          height: 38px;
          width: 0;
          border: 1px solid #c75842;
          transition: inherit;
        }

        &:after {
          left: auto;
          right: -1em;
        }

        &:hover {
          border-color: #c75842;
          transition: border-color 0.2s 0.2s
            cubic-bezier(0.455, 0.03, 0.515, 0.955);

          &:after,
          &:before {
            right: -2px;
            transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          }

          &:before {
            left: -2px;
            right: auto;
          }
        }
      }
    }
  }
}
