main {
  .section_dashboard {
    background: #000000e0;
    width: 80%;
    margin-left: 20%;

    .dashboard_container {
      padding: 20px 30px;

      .heading_sec {
        width: 100%;
        display: flex;
        align-items: center;

        h1 {
          color: white;
          font-size: 28px;
          width: 90%;
        }

        .see_more {
          background: red;
          color: white;
          padding: 10px;
          border-radius: 25px;
          font-size: 14px;
          display: inline-block;
          margin: 0 0 0 auto;
          cursor: pointer;
        }
      }

      .dashboard_header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card_section {
          width: 18%;
          color: white;
          padding: 20px 10px 30px 10px;
          border-radius: 6px;
          background: #444444;
          margin: 2% 0;
          position: relative;
          cursor: pointer;

          &:hover {
            background-color: #009688;
            color: black;
          }

          .image_container {
            width: 100%;
            display: inline-block;
            text-align: center;

            .card_img {
              width: 100%;
              height: 180px;
              border-radius: 6px;
            }
          }

          .title_container {
            h3 {
              font-size: 18px;
              margin: 10px 0 6px 0;
            }
          }

          .subtitle_container {
            .subtitle {
              font-size: 12px;
            }
          }

          .none {
            display: none;
          }
          .hover_effect {
            // background: #00000059;
            // position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;

            .icon_container {
              font-size: 27px;
              position: absolute;
              left: 75%;
              top: 7%;
            }
          }
        }
      }
    }
  }
}
